<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>小小便签</title>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
</head>
<style type="text/css">
#op {
    float: right;
}
button {
    border: 1px solid #ccc;
    padding: 5px 20px;
    cursor: pointer;
}
#content {
    padding: 30px;
    width: 100%;
    min-height: 80vh;
    border: 1px dashed #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
}
</style>

<script type="text/javascript">
function throttle(fn,wait){
    var timer = null;
    return function(){
        var context = this;
        var args = arguments;
        if (timer) return;
        timer = setTimeout(function(){
            fn.apply(context,args);
            timer = null;
        },wait)
    }
}
function saveContent(){
    state.innerText = "..."
    console.log(content.innerHTML);
    axios.post('/save', {
        content: content.innerHTML
      })
      .then(function (response) {
        state.innerText = ""
      })
      .catch(function (error) {
        console.log(error);
        state.innerText = "err"
      })
}

document.addEventListener('DOMContentLoaded', function(){
    const state = document.getElementById("state")
    const content = document.getElementById("content");
    content.addEventListener('input', throttle(saveContent, 1000));
});
</script>
<body>
    <div id="op">
        <span id="state"></span>
        <button id="btn" onclick="saveContent()">保存</button>
    </div>
    <div id="content" contenteditable>{{ content | safe}}</div>
</body>
